<div class='menus'>
<form action="/stops" method="post">
		<div class = 'start-menu'>
			<select name = "start">
				<option value="south station , red">South Station , Red</option>
				<option value="park st , red">Park St , Red</option>
				<option value="kendall , red">Kendall , Red</option>
				<option value="central , red">Central , Red</option>
				<option value="central , red">Central , Red</option>
				<option value="harvard , red">Havard , Red</option>
				<option value="porter , red">Porter , Red</option>
				<option value="davis , red">Davis , Red</option>
				<option value="alewife , red">Alewife , Red</option>
				<option value="haymarket-GR , green">Haymarket-GR , Green</option>
				<option value="government center , green">Government Center , Green</option>
				<option value="part st , green">Park St , Green</option>
				<option value="boylston , green">Bolyston , Green</option>
				<option value="arlington , green">Arlington , Green</option>
				<option value="copley , green">Copley , Green</option>
				<option value="north station , orange">North Station , Orange</option>
				<option value="haymarket-OR , orange">Haymarket-OR , Orange</option>
				<option value="Park St , orange">Park St , Orange</option>
				<option value="State , orange">State , Orange</option>
				<option value="downtown crossing , orange">Downtown Crossing , Orange</option>
				<option value="chinatown , orange">Chinatown , Orange</option>
				<option value="back bay , orange">Back Bay , Orange</option>
				<option value="Forest Hills , orange">Forest Hills , Orange</option>
			</select>
		</div>
		<div class= 'end-menu'>
			<select name = "end">
				<option value="south station , red">South Station , Red</option>
				<option value="park st , red">Park St , Red</option>
				<option value="kendall , red">Kendall , Red</option>
				<option value="central , red">Central , Red</option>
				<option value="central , red">Central , Red</option>
				<option value="harvard , red">Havard , Red</option>
				<option value="porter , red">Porter , Red</option>
				<option value="davis , red">Davis , Red</option>
				<option value="alewife , red">Alewife , Red</option>
				<option value="haymarket-GR , green">Haymarket-GR , Green</option>
				<option value="government center , green">Government Center , Green</option>
				<option value="part st , green">Park St , Green</option>
				<option value="boylston , green">Bolyston , Green</option>
				<option value="arlington , green">Arlington , Green</option>
				<option value="copley , green">Copley , Green</option>
				<option value="north station , orange">North Station , Orange</option>
				<option value="haymarket-OR , orange">Haymarket-OR , Orange</option>
				<option value="Park St , orange">Park St , Orange</option>
				<option value="State , orange">State , Orange</option>
				<option value="downtown crossing , orange">Downtown Crossing , Orange</option>
				<option value="chinatown , orange">Chinatown , Orange</option>
				<option value="back bay , orange">Back Bay , Orange</option>
				<option value="Forest Hills , orange">Forest Hills , Orange</option>
			</select>
		</div>
		<button value="submit"> Submit</button>
	</form>
</div>
